# log file
*.log

# Python
__pycache__
*.pyc

# Mac
.DS_Store

# virtual env
.venv
venv
.env

# vs & vs code cache
.vs
.vscode

# copycat reports
/submissions_report/

# coverage
.coverage
.coverage.*
coverage.html
htmlcov

